@font-face {
    font-family: 'Now';
    src: url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.eot');
    src: local('Now Medium'), local('Now-Medium'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.ttf') format('truetype'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/hinted-subset-Now-Medium.svg#Now-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.ttf') format('truetype'),
        url('https://cdn.jsdelivr.net/gh/techswamiin/assets/fonts/subset-HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
